:root {
    --primary: #f9f5ff;
    --secondary: #0d324d;
    --tertiary: #2c6e49;
    --highlight: #a7bdf7;
    --border-radius: 0.3rem;
}

body{
    background-color: var(--primary);
    color: var(--secondary);
}

h1{
    font-size: 2rem;
    margin: 1rem;
}

h2{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h3{
    font-size: 1.2rem;
    
}

.header{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color: var(--primary);
    background-color: var(--secondary);

}

.search-container{
    display: flex;
    flex-direction: column;
    margin-left: 0.75rem;
    width: 25%;

}    

.location{
    width:100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

.button{
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    color: var(--primary);
    background-color: var(--secondary);
}

.button:hover{
    color: var(--secondary);
    background-color: var(--highlight);
}

.line{
    height: 0.05rem;
    background: var(--secondary);
}